{% extends "base.html" %}
{% block title  %}About{% endblock %}

{% block icon  %}
  <!-- add icon link -->
  <link rel = "icon" href = "../static/accounts/icon/home.png" type = "image/x-icon"> 
{% endblock %}



{% block body  %}


<div class="section section-team text-center" style="color: white;">
    <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-3">
                    <div class="team-player">
                        <img src="../media/sujan.jpg" alt="Thumbnail Image"  style="width: 170px;height: 195px;" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">Sujan Sharma</h4>
                        <p class="category text-primary">Developer</p>
                        <p class="description">You can write to us for any suggestions. Your feedback is most Welcome.</p>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-default" style=" position: fixed;
left:40%;bottom: 0;text-decoration-color: brown;color:white;text-align: center;font-size: larger;">
         <div class="copyright">
           &copy; 2020,
           Coded by Sujan Sharma
        </div>
</footer>


{% endblock %}




